@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Bienvenido a Notr!</h1>
Ingrese o regístrese para continuar.
<br/>
<br/>
<br/>
<MudLink Href="/ingresar" Typo="Typo.h4">Ingresar</MudLink>
<br/>
<br/>
<MudLink Href="/registrarse" Typo="Typo.h4">Registrarse</MudLink>

@code{

}